<% cache @wedding do %>
  <p class='col-sm-offset-1'>Title : <%= @wedding.title %></p>
  <hr>
  <ul class='col-sm-offset-1'>
  <% @wedding.gifts.each do |g| %>
     <li><%= g.name %></li>
  <% end %>
  </ul>
  <hr>
  <ul id='comments' class='col-sm-offset-1'>
  <% @wedding.comments.each do |c| %>
     <%= render partial: c, locals: { comment: c }  %>
  <% end %>
  </ul>
  <hr>
<% end %>
<%= form_for Comment.new(wedding: @wedding), 
             remote: true,
             html: { class: 'form-horizontal' } do |f| %>
  <div class='form-group'>
    <div class='col-sm-offset-1 col-sm-4'>
      <%= f.hidden_field :wedding_id %>
      <%= f.text_field :content, class: 'form-control' %>
    </div>
  </div>
  <div class='form-group'>
    <div class='col-sm-offset-4 col-sm-2'>
      <%= f.submit 'Comment it', class: 'btn btn-primary' %>
    </div>
  </div>
    
<% end %>